body {
    height: 98vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('images/Journey_SmallSize-2580x1450-75345be2b7101291982f1dcfcedaadbd.jpg');
    background-position: center;
    background-size: cover;

}


#speaker {
    border: solid green;
    position: absolute;
    top: 0;
    right: 0;

}

#speaker img {
    height: 35px;
    cursor: pointer;
}


#container {
    border: solid red;
    font-family: 'Courier New', Courier, monospace;
    

}

#description {
    color: white;
}


h2 {
    margin-top: -17px;

}

ul {
    border: hidden green;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
    color: black;

}

li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}


